.date {
  font-size: 13px;
  color: lightslategrey
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  border-bottom: 2px solid lightgrey;
  padding: 12px 8px;
}
h2{
  margin: 0
}